<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 max-auto">
      <h1 class="text-center main-heading">About us</h1>
      <p class="text-center Sub-heading">Grow your Business with Us</p>"
      <div class="row">
        <div class="col-md-6 col-12 hero-text ">
          <figure>
            <img src="images/blue.jpg" alt="sapphire_pic">
          </figure>
          </div>
          <div class=" col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
            <h1>WE ARE REPUTED FIRM IN KHAMBHAT</h1>
            <h1>WE HAVE SO MUCH STOCK OF STONES ARE AVAILABLE WITH US</h1>
            <p>We are the <span class="bold-style">professional businessman</span> of real stones </p>
        <button class="btn-style btn-primary">Read More </button>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>