<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 max-auto">
      <h1 class="text-center main-heading">Services</h1>
      <p class="text-center Sub-heading">Grow your Business with Us</p>"
      <div class="row">
        <div class="col-md-4">
        <div class="box">
            <div class="our-services settings">
                <div class="icon">
                    <img src="https://i.imgur.com/6NKPrhO.png" alt="Server is down">
                    <h4>Diamond</h4>
                    <p>This is the sample settings </p>
               </div>
               </div>
               </div>
               </div>
               <div class="col-md-4">
        <div class="box">
            <div class="our-services settings">
                <div class="icon">
                    <img src="https://i.imgur.com/vdH9LKi.png" alt="Server is down">
                    <h4>Backups</h4>
                    <p>This is the sample settings </p>
                </div>
                </div>
                </div>
                </div>
                <div class="col-md-4">
        <div class="box">
            <div class="our-services settings">
                <div class="icon">
                    <img src="https://i.imgur.com/v6OnUqu.png" alt="Server is down">
                    <h4>SSL Privacy</h4>
                    <p>This is the sample settings </p>
                </div>
                </div>
                </div>
                </div>

                <div class="col-md-4">
        <div class="box">
            <div class="our-services settings">
                <div class="icon">
                    <img src="https://i.imgur.com/VzjZw9M.png" alt="Server is down">
                    <h4>Settings</h4>
                    <p>This is the sample settings </p>
               </div>
               </div>
               </div>
               </div>
               <div class="col-md-4">
        <div class="box">
            <div class="our-services settings">
                <div class="icon">
                    <img src="https://i.imgur.com/v6OnUqu.png" alt="Server is down">
                    <h4>Settings</h4>
                    <p>This is the sample settings </p>
               </div>
               </div>
               </div>
               </div>
               <div class="col-md-4">
        <div class="box">
            <div class="our-services settings">
                <div class="icon">
                    <img src="https://i.imgur.com/AgyneKA.png" alt="Server is down">
                    <h4>Ruby Stones</h4>
                    <p>This is the sample settings </p>
               </div>
               </div>
               </div>
               </div>
              
              
               
               
               